<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filtres</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Affichage</h2>
  <ion-list>
    <ion-item>
      <ion-label>
        Afficher toutes les factures
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Afficher par date d'ajout
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        Afficher par date de facture
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
