<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Filtres</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 class="ion-padding">Affichage</h2>
  <ion-list>
    <!--afficher toutes les factures-->
    <ion-item (click)="updateAffichage1('liste')"
              *ngIf="typeAffichage=='liste'" color="primary">
      <ion-label>
        Afficher toutes les factures
      </ion-label>
    </ion-item>
    <ion-item (click)="updateAffichage1('liste')"
              *ngIf="typeAffichage=='arbre'">
      <ion-label>
        Afficher toutes les factures
      </ion-label>
    </ion-item>
    <!--afficher par année/mois-->
    <ion-item (click)="updateAffichage1('arbre')"
              *ngIf="typeAffichage=='arbre'" color="primary">
      <ion-label>
        Afficher par année/mois
      </ion-label>
    </ion-item>
    <ion-item (click)="updateAffichage1('arbre')"
              *ngIf="typeAffichage=='liste'">
      <ion-label>
        Afficher par année/mois
      </ion-label>
    </ion-item>
  </ion-list>

  <h2 class="ion-padding">Tri</h2>
  <ion-list>
    <!-- date ajout desc -->
    <ion-item (click)="updateAffichage2('dateAjout','desc')" color="primary"
              *ngIf="(filterAffichage=='dateAjout')&&(orderAffichage=='desc')">
      <ion-label>
        Par date d'ajout la plus récente
      </ion-label>
    </ion-item>
    <ion-item (click)="updateAffichage2('dateAjout','desc')"
              *ngIf="(filterAffichage=='dateFacture')||(orderAffichage=='asc')">
      <ion-label>
        Par date d'ajout la plus récente
      </ion-label>
    </ion-item>
    <!-- date ajout asc -->
    <ion-item color="primary" (click)="updateAffichage2('dateAjout','asc')"
              *ngIf="(filterAffichage=='dateAjout')&&(orderAffichage=='asc')">
      <ion-label>
        Par date d'ajout la plus ancienne
      </ion-label>
    </ion-item>
    <ion-item (click)="updateAffichage2('dateAjout','asc')"
              *ngIf="(filterAffichage=='dateFacture')||(orderAffichage=='desc')">
      <ion-label>
        Par date d'ajout la plus ancienne
      </ion-label>
    </ion-item>
    <!-- date facture desc -->
    <ion-item color="primary" (click)="updateAffichage2('dateFacture','desc')"
              *ngIf="(filterAffichage=='dateFacture')&&(orderAffichage=='desc')">
      <ion-label>
        Par date de facture la plus récente
      </ion-label>
    </ion-item>
    <ion-item (click)="updateAffichage2('dateFacture','desc')"
              *ngIf="(filterAffichage=='dateAjout')||(orderAffichage=='asc')">
      <ion-label>
        Par date de facture la plus récente
      </ion-label>
    </ion-item>
    <!-- date facture asc -->
    <ion-item color="primary" (click)="updateAffichage2('dateFacture','asc')"
              *ngIf="(filterAffichage=='dateFacture')&&(orderAffichage=='asc')">
      <ion-label>
        Par date de facture la plus ancienne
      </ion-label>
    </ion-item>
    <ion-item (click)="updateAffichage2('dateFacture','asc')"
              *ngIf="(filterAffichage=='dateAjout')||(orderAffichage=='desc')">
      <ion-label>
        Par date de facture la plus ancienne
      </ion-label>
    </ion-item>

    <br>
  </ion-list>

  <ion-button expand="block" (click)="raffraichir()">Afficher</ion-button>

</ion-content>
