<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="presentPopover($event)">
        <ion-icon name="settings"></ion-icon>
      </ion-button>
      <ion-button (click)="closeToggle()" *ngIf="(facturesService.typeAffichage=='arbre')&&(open)">
        <ion-icon slot="icon-only" name="arrow-dropright-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Factures</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onNewFacture()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--visuel liste-->
  <ion-list *ngIf="facturesService.typeAffichage==='liste'">
    <ion-item-sliding *ngFor="let f of factures" (ionSwipe)="delete(f)">
      <ion-item (click)="onDetailFacture(f)" >
        <div class="titleSection ion-padding ion-padding-start">
          <h5>
            {{f.title}}
          </h5>
          <p class="descText ion-no-margin ion-no-padding">{{f.photoTitle}}</p>
        </div>
        <div slot="end" class="lastSection">
          <ion-note>{{f.dateAjout.getDate()+'/'+(f.dateAjout.getMonth()+1)+'/'+
          f.dateAjout.getFullYear()}}</ion-note>
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(f)" expandable>
          Supprimer
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


  <!--visuel accordeon-->
  <div *ngIf="facturesService.typeAffichage==='arbre'">
    <ion-list *ngFor="let factYear of facturesArbre; let i = index;" class="accordeon-list" lines="none"
              detail="false" class="ion-no-padding">
      <ion-item tappable (click)="toggleSection(i)" [ngClass]="{'section-active': factYear.open, 'section': !factYear.open}">
        <ion-icon slot="start" name="arrow-dropright" *ngIf="!factYear.open"></ion-icon>
        <ion-icon slot="start" name="arrow-dropdown-circle" *ngIf="factYear.open"></ion-icon>
        <ion-list>{{factYear.yearNum}}</ion-list>
        <div slot="end" class="lastSection">
          <ion-badge slot="end" class="userBadge">{{factYear.numberFact}}</ion-badge>
        </div>
      </ion-item>

      <div *ngIf="factYear.liste && factYear.open">
        <ion-list *ngFor="let factMonth of factYear.liste; let j = index" lines="none" class="child-list">
          <ion-item tappable (click)="toggleItem(i,j)"
                    [ngClass]="{'child-active': factMonth.open, 'child': !factMonth.open}" class="marginMonth">
            <ion-icon slot="start" name="arrow-dropright" *ngIf="!factMonth.open"></ion-icon>
            <ion-icon slot="start" name="arrow-dropdown-circle" *ngIf="factMonth.open"></ion-icon>
            <ion-list>{{factMonth.month}}</ion-list>
            <div slot="end" class="lastSection">
              <ion-badge slot="end" class="userBadge">{{factMonth.listFactures.length}}</ion-badge>
            </div>
          </ion-item>

          <ion-list *ngIf="factMonth.listFactures && factMonth.open">
            <ion-item-sliding *ngFor="let f of factMonth.listFactures" (ionSwipe)="delete(f)">
              <ion-item (click)="onDetailFacture(f)" >
                <div class="titleSection ion-padding ion-padding-start">
                  <h5>
                    {{f.title}}
                  </h5>
                  <p class="descText ion-no-margin ion-no-padding">{{f.photoTitle}}</p>
                </div>
                <div slot="end" class="lastSection">
                  <ion-note>{{f.dateAjout.getDate()+'/'+(f.dateAjout.getMonth()+1)+'/'+
                  f.dateAjout.getFullYear()}}</ion-note>
                </div>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="danger" (click)="delete(f)" expandable>
                  Supprimer
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-list>
        </ion-list>
      </div>
    </ion-list>
  </div>
</ion-content>

<ion-footer>
  <app-footer-nav></app-footer-nav>
</ion-footer>
