<ion-header>
  <ion-toolbar>
    <!-- <ion-buttons > -->

    <!-- bouton de nouveau utilisateur-->
    <ion-buttons slot="end">
      <ion-button id="notification-button">
        <ion-icon *ngIf="contactsService.localUser.demandeContact?.length>0" name="person-add" slot="icon-only">
          <ion-badge style="position: absolute" id="notifications-badge" color="danger">{{contactsService.localUser.demandeContact.length}}</ion-badge>
        </ion-icon>
      </ion-button>

      <ion-button>
        <div class="plusClass" slot="end">
          <ion-icon name="add" expand="icon-only" color="success" (click)="searchNewContact()"> </ion-icon>
        </div>
      </ion-button>

    </ion-buttons>
    <!-- </ion-buttons> -->
    <ion-title color="light">
      Contacts
    </ion-title>
  </ion-toolbar>

  <!-- ************************************
    boutons des messages, contacts et groupes
  -->
  <ion-toolbar>
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" class="ion-padding">
      <ion-segment-button mode="md" value="chat" checked fixed>
        <div class="contentCenter">
          <ion-icon name="chatboxes" slot="start" class="padding_right tab-icon"></ion-icon>
          <ion-text slot=end>Messages</ion-text>
        </div>
      </ion-segment-button>

      <ion-segment-button mode="md" value="contacts">
        <div class="contentCenter">
          <ion-icon name="person" slot="start" class="padding_right tab-icon"></ion-icon>
          <ion-text slot=end>Contacts</ion-text>
        </div>
      </ion-segment-button>

      <ion-segment-button mode="md" value="group">
        <div class="contentCenter">
          <ion-icon name="contacts" slot="start" class="padding_right tab-icon"></ion-icon>
          <ion-text slot=end>Groupes</ion-text>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-searchbar *ngIf="!newContact&&(segmentTab == 'contacts')" mode="md" placeholder="Search your friend"></ion-searchbar>
  <ion-searchbar *ngIf="newContact&&(segmentTab == 'contacts')" mode="md" placeholder="new contact"
    (ionChange)="onInputSearch($event)" [(ngModel)]="seeNewContact"></ion-searchbar>

  <!-- Chat -->
  <ion-list *ngIf="segmentTab == 'chat' " class="ion-no-padding">

    <ion-item *ngFor="let chat of chatData"  lines="none">
      <div class="borderBottomLine"></div>
      <div class="listSection">
        <div class="UserimgSection">
          <ion-avatar class="chatImage" slot="start">
            <ion-img [src]="chat.image"></ion-img>
            <span class="onlineOffline_icon" [ngStyle]="{'background-color':(chat.status === 'online'? '#4cd137' : '#c23616')}"></span>
          </ion-avatar>
        </div>
        <div class="usernameSection ion-padding ion-padding-start">
          <h5>
            <ion-icon *ngIf="chat.group" name="people" color="medium"></ion-icon>
            <ion-icon name="microphone" *ngIf="chat.broadcast" color="medium"></ion-icon>
            {{chat.name}}
          </h5>
          <p class="descText ion-no-margin ion-no-padding">{{chat.description}}</p>
        </div>
      </div>
      <div slot="end" class="lastSection">
        <ion-note *ngIf="chat.badge || !chat.time" class="sendTime">{{chat.sendTime}}</ion-note>
        <ion-badge slot="end" class="userBadge" *ngIf="chat.badge">{{chat.badge}}</ion-badge>
        <ion-note slot="end" *ngIf="chat.time">{{chat.time}}</ion-note>
      </div>
      </ion-item>



  </ion-list>
  <!-- Chat -->

  <!-- Contacts -->
  <ion-list *ngIf="(segmentTab == 'contacts')&&(contactsService.localUser.contacts.length!=0)&&!newContact"
            class="ion-padding" >
    <ion-item *ngFor="let contact of contactsService.localUser.contacts" lines="none">
      <div *ngIf="contact.added=='ami'">
        <p>{{contact.identifiant}}</p>
      </div>
    </ion-item>
  </ion-list>

  <!-- New contact liste -->
  <ion-list *ngIf="(segmentTab == 'contacts')&&newContact&&newContactData.length!=0&&(seeNewContact.length!=0)"
            class="ion-padding">
    <ion-item *ngFor="let contact of newContactData" class="newContact">
      <p>{{contact.identifiant}}</p>
      <div slot="end" class="lastSection">
        <ion-badge *ngIf="contact.added==null" slot="end" (click)="ajouterContact(contact)">Ajouter</ion-badge>
        <ion-badge *ngIf="contact.added=='ami'" slot="end">Déjà ami</ion-badge>
        <ion-badge *ngIf="contact.added=='demande'" slot="end">Demande en cours</ion-badge>
      </div>
    </ion-item>
  </ion-list>
  <!-- Contacts -->
</ion-content>


<ion-footer>
    <app-footer-nav></app-footer-nav>
</ion-footer>
