
/**
 * Chatter - Chat themes Ionic 4 (https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 *
 */


/*Pastry View*/
.plusClass {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background: white;
  border-radius: 50%;
  right: 15px;
  position: relative;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), background-color 15ms linear, color 15ms linear;
  box-shadow: 0 0.5px 0px 5px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0 rgba(0, 0, 0, 0.12);

  // transition: box-shadow 280ms cubic-bezier(.4,0,.2,1),background-color 15ms linear,color 15ms linear;
  // box-shadow: 0px 0px 1px 4px rgba(30, 32, 35, 0.44), 0 1px 10px 0 rgba(30, 32, 35, 0.64), 0 0px 0px 0 rgba(30, 32, 35, 0.55);
}
ion-header {
  &:after {
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
    background-image: none;
    left: 0;
    bottom: -8px;
    background-position: left 0 top 0;
    position: absolute;
    width: 100%;
    height: 8px;
    content: ""
  }
}
ion-content {
  --background: rgba(38, 194, 129, 1);
}
ion-header,
//ion-item,
ion-toolbar
 {
  //green
  --background: rgba(38, 194, 129, 1);
}
.contentCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
ion-segment-button {
  color: white;
  --color-checked: var(--ion-color-tertiary-contrast);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.padding_right {
  padding-right: 8px;
}
.tab-icon {
  font-size: 20px;
}
.withcount {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.chatCount {
  background: white;
  width: 17px !important;
  height: 17px !important;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 10px;
  font-weight: bold;
  color: var(--background);
  margin-left: 8px;
}
h2 {
  color: white;
}
.timeEnd {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.widthHalf {
  width: 70%;
  color: #ddd;
  font-size: 12px;
}
.nameAvatar {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  width: 50%;
  h2 {
    font-size: 0.94em;
    font-weight: bold;
  }
}
ion-text {
  font-size: 10px;
}
.sc-ion-label-ios-h {
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*Elegance view*/
/**
 * Chatter - Chat themes Ionic 4 (https://www.enappd.com)
 *
 * Copyright © 2018-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source .
 *
 */




.contentBg{
  --background: #2f517c; /* fallback for old browsers */
  --background: -webkit-linear-gradient(to bottom, #2f517c, #56b4d3); /* Chrome 10-25, Safari 5.1-6 */
  --background: linear-gradient(to bottom, #2f517c, #56b4d3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 0 !important;
  --padding-bootm:0 !important;
}

.onlineOffline_icon {
  position: absolute;
  height: 15px;
  width: 15px;
  // background-color: ;
  border-radius: 50%;
  bottom: 0.2em;
  right: 0;
  border: 1.5px solid white;
}
.UserimgSection{
  position: relative;
}

.userBadge{
  border-radius: 90px;
  width: 24px;
  height: 24px;
  background: #E0E9F9;
  color: #789FE6;
  align-items: center;
  display: flex;
  font-size: 14px;
  justify-content: center;
  position: absolute;
  top: 31px;
}

.usernameSection{
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 15px;
}
.descText{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width:100%;
  color:#BFC3C6;
  font-size: 16px;
}
ion-img{
  width: 90%;
  height: 90%;
}
.listSection{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
}

.borderBottomLine {
  display: block;
  width: 100%;
  position: absolute;
  border-bottom: 1px solid #cfcfd1;
  height: 100%;
  left: 21%;
}
.lastSection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 73%;
  padding-top:2px;
}
.fontSize{
  font-size: 30px;
}
h5{
  margin-bottom: 5px;
  margin-top: 12px;
  font-size: 16px;
}
ion-note{
  font-size: 14px;
}

.newContact{
  height: 45px;
}

button {
  ion-badge {
    position: absolute;
    top: -0.2rem;
    right: -0.2rem;
    opacity: 0.9;

    & ~ ion-icon {
      margin-right: 1.2rem;
    }
  }
}


.lastSectionDemande{
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
