

<ion-content>

  <div class="logo">
    <ion-img src="../../assets/icon/icone.png"></ion-img>
  </div>
  <!--Précédente formule de connexion
  <form #f="ngForm" (ngSubmit)="onLogin(f.value)">
    <ion-item>
      <ion-input type="text" name="username" ngModel placeholder="Username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="password" name="password" ngModel placeholder="Password"></ion-input>
    </ion-item>
    <ion-button expand="block" type="submit" class="ion-padding">Login</ion-button>
  </form>
  -->

  <!--empeche facebook pour le moment
  <ion-button shape="round" (click)="facebookLogin()" class="ion-padding">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
    Connexion avec Facebook
  </ion-button>
  -->

  <br>
  <br>
  <br>

  <ion-item>
    <ion-label>Email &nbsp; &nbsp;&nbsp;&nbsp;&nbsp; : </ion-label>
    <ion-input type="email" [(ngModel)]="dataUser.email" placeholder="Adresse mail"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Password : </ion-label>
    <ion-input type="password" [(ngModel)]="dataUser.password" placeholder="Mot de Passe"></ion-input>
  </ion-item>
  <br>
  <div class="butt">
    <ion-button type="submit" expand="block" shape="round" (click)="loginMail()">Connexion</ion-button>
    <br>
    <ion-button expand="block" shape="round" (click)="InscriptionMail()" color="tertiary">Inscription</ion-button>
  </div>
</ion-content>
