<ion-header>
  <ion-toolbar>
    <ion-title>fcm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label stacked>toToken : </ion-label>
      <ion-input [(ngModel)]="toToken"></ion-input>
    </ion-item>
  </ion-list>

  <br>
  <ion-button (click)="envoieNotif()" color="warning"  expand="block">
    <ion-icon name="reverse-camera" slot="start"></ion-icon>
    Envoi Notif http
  </ion-button>

    <br>
    <ion-button (click)="test()" color="warning"  expand="block">
        <ion-icon name="reverse-camera" slot="start"></ion-icon>
        test Notif Admin
    </ion-button>

</ion-content>

<ion-footer>
  <app-footer-nav></app-footer-nav>
</ion-footer>
