
<ion-content>
  <div class="header">
    <h2>Yassine khelifa</h2>

    <div class="space-between">
      <div class="content">
        <ion-badge class="badge" mode="ios">{{facturesService.factures.length}}</ion-badge>
        <p>Factures</p>
      </div>
      <div class="content">
        <ion-badge class="badge" mode="ios">5855</ion-badge>
        <p>Contacts</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-img">
        <div class="img-box">
          <img src="../../assets/img/ProjectManager_Yassine Khelifa_2.jpg">
        </div>
      </div>
    </div>
  </div>

</ion-content>

<ion-footer>
  <app-footer-nav></app-footer-nav>
</ion-footer>
