// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

/*
************* PERSO ************
 */

.my-custom-class{
  --background:#f8f8f8;
  --border-color:#d9d9d9;
  --border-radius:1px;
  --border-style:solid;
  --border-width:1px;
  --button-color:#000;
  --color:#000;
  --height: 60px;
  --width: 80%;
  padding: 0px 0px 0px 0px;
}
